<!DOCTYPE HTML PUBLIC
 "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="alternate" type="application/atom+xml"
          title="$TITLE" href="$BLOCK_URL/atom.xml">
    <title>$TITLE</title>
    <link rel="stylesheet" href="/bits/block.css" type="text/css">
  </head>
  <body>
    <div class="wrap">
      <div class="content">
        <h1 class="block-title">
          $TITLE
        </h1>

$BODY

      </div>
      $( echo "$TOC" | sed 's/^/     /' )
    </div>
  </body>
</html>
